@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin: 5px;
}

.landing_title{
    color: forestgreen;
    text-align: center;
}

.landing_subtitle{
    text-align: center;
}

img {
    height: 200px;
}

a {
    text-decoration: none;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: orange;
}

nav a{
    color: white;
}

a:visited{
    color: darkgreen;
}

a:hover {
    color: green;
}

* {
    font-family: 'Roboto', sans-serif;
}

.recipie{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 16px;
    grid-template-rows: repeat(4,auto) 1fr;
    margin-bottom: 16px;
    margin-left: 20px;    
}

.recipie h3 a{
    color: darkorange;
}

.recipie h3 a:visited{
    color: brown;
}

.recipie div a img{
    box-shadow: 10px 5px 5px green;
    transition: box-shadow 0.5s;
}

.recipie div a img:hover{
    box-shadow: 10px 5px 5px darkorange;
}

.ingredients tr:nth-child(even){
    background-color: lightgray;
}

footer {
    position: static;
    bottom: 2%;
    padding-left: 24px;
    background-color: chocolate;
    color: rgb(255, 255, 255);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;    
}